{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "useBuiltIns": true,
                "targets": { "browsers": ["last 2 versions", "ios >= 9", "android >=9"] }
            }
        ],
        "stage-0"
    ],
    "plugins": [

    ]
}