 html {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 *,
 :after,
 :before {
     -moz-box-sizing: inherit;
     -webkit-box-sizing: inherit;
     -o-box-sizing: inherit;
     -ms-box-sizing: inherit;
     box-sizing: inherit;
 }
 
 article,
 aside,
 blockquote,
 body,
 button,
 code,
 dd,
 details,
 dl,
 dt,
 fieldset,
 figcaption,
 figure,
 footer,
 form,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 header,
 hr,
 input,
 legend,
 li,
 menu,
 nav,
 ol,
 p,
 pre,
 section,
 td,
 textarea,
 th,
 ul {
     margin: 0;
     padding: 0;
 }
 
 body,
 button,
 input,
 select,
 textarea {
     font-size: 12px;
     font-family: "Microsoft Yahei";
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 a,
 ins {
     text-decoration: none;
 }
 
 a.inherit {
     color: inherit;
 }
 
 fieldset,
 input,
 img {
     border: 0;
 }
 
 .clearfix:after {
     content: "";
     display: table;
     height: 0;
     clear: both;
 }
 
 body {
     position: relative;
 }
 /*公用头部样式 开始*/
 
 html,
 body {
     width: 100%;
     height: 100%;
 }
 
 body {
     width: 100%;
     height: 100%;
     min-width: 1200px;
     overflow-y: hidden;
     overflow-x: auto;
     font-family: "Microsoft Yahei";
     font-size: 13px;
     background-color: #e5e5e5;
 }
 
 .container {
     position: absolute;
     top: 80px;
     bottom: 0px;
     width: 100%;
 }
 
 .header-wrap {
     position: absolute;
     z-index: 9999;
     width: 100%;
     height: 80px;
     background-color: #fff;
     padding: 20px 15px 20px 40px;
     box-shadow: 0px 2px 1px 1px rgba(45, 45, 45, 0.3);
     /*opera或ie9*/
     -moz-box-shadow: 0px 2px 1px 1px rgba(45, 45, 45, 0.3);
     /*firefox*/
     -webkit-box-shadow: 0px 2px 1px 1px rgba(45, 45, 45, 0.3);
     /*webkit*/
     filter: progid: DXImageTransform.Microsoft.Shadow(color='#2D2D2D', Direction=135, Strength=5);
     /*for ie6,7,8*/
 }
 
 .header-logo {
     background: url("../images/header-ths-logo.png") no-repeat;
     width: 33px;
     height: 33px;
     float: left;
 }
 
 .header-split {
     float: left;
     margin: 0px 12px 0px 10px;
 }
 
 .header-split .header-line {
     display: block;
     height: 8px;
     width: 1px;
     background-color: grey;
 }
 
 .header-split .header-circle {
     display: block;
     height: 5px;
     width: 5px;
     background-color: grey;
     border-radius: 50%;
     margin: 4px -2px;
 }
 
 .header-title {
     float: left;
 }
 
 .header-title h1 {
     font-size: 17px;
     color: #5c5c5c;
     margin-top: -5px;
 }
 
 .header-title p {
     color: #a3a3a3;
     font-size: 12px;
 }
 
 .header-login-status {
     float: right;
 }
 
 .header-login-status a {
     color: #4288fa;
 }
 /*公用头部样式 结束*/
 /*公用左侧树样式 开始*/
 
 .tree-wrap {
     width: 268px;
     height: 100%;
     float: left;
     background: #fff;
     border-right: 1px solid #d5d5d5;
     overflow-y: auto;
     padding-bottom: 50px;
 }
 
 .tree-contrl-icon {
     display: inline-block;
     width: 10px;
     height: 10px;
     background: url("../images/hiden.png") no-repeat;
     float: right;
     margin-top: 24px;
     transform: rotate(-90deg);
 }
 
 .parent-tree-item.tree-open>.parent-tree-item-name>.tree-contrl-icon,
 .child-tree-item.tree-open>.child-tree-item-name>.tree-contrl-icon {
     transform: rotate(0deg);
 }
 
 .parent-tree-item>ul,
 .child-tree-item>ul {
     display: none;
     background-color: #f4f4f4;
 }
 
 .parent-tree-item.tree-open>ul.child-tree,
 .child-tree-item.tree-open>ul {
     display: block;
 }
 
 .parent-tree-item .parent-tree-item-name {
     height: 50px;
     line-height: 50px;
     padding: 0px 12px;
     cursor: pointer;
 }
 
 .child-tree-item .child-tree-item-name {
     height: 50px;
     line-height: 50px;
     padding: 0px 12px 0 24px;
     cursor: pointer;
 }
 
 .tree-leaf-item {
     height: 48px;
     cursor: pointer;
     padding: 4px 12px 4px 36px;
 }
 
 .tree-leaf-item:hover,
 .tree-leaf-item.leaf-selected {
     background-color: #ddeafe;
 }
 
 .tree-leaf-item>p {
     height: 20px;
     line-height: 20px;
 }
 
 .tree-leaf-item p:nth-child(odd) {
     color: #1d1d1d;
 }
 
 .tree-leaf-item p:nth-child(even) {
     color: #8f8f8f;
 }
 
 .parent-tree-item .parent-tree-item-name>span,
 .child-tree-item .child-tree-item-name>span {
     color: #1d1d1d;
 }
 
 .parent-tree-item .parent-tree-item-name>label,
 .child-tree-item .child-tree-item-name>label {
     color: #8f8f8f;
 }
 /*公用右侧树样式 结束*/
 /*公用右侧下拉框及搜索框样式 开始*/
 
 .main-wrap {
     background-color: #e5e5e5;
     float: left;
     width: 930px;
     width: calc(100% - 270px);
     height: 100%;
     min-width: 930px;
     /*1200-270=930*/
 }
 
 .main-container {
     width: 90%;
     margin: 0 auto;
     min-width: 900px;
     height: 100%;
 }
 /*search-btn*/
 
 .search-wrap-row {
     width: 430px;
     height: 41px;
     margin: 15px 0px;
 }
 
 .search-wrap {
     width: 365px;
     height: 40px;
     background: #fff;
     border: 1px solid #ededed;
     float: left;
 }
 
 .select-wrap {
     display: inline-block;
     width: 132px;
     height: 40px;
     border-right: 1px solid #ededed;
     float: left;
 }
 
 .select-selected-options {
     width: 100%;
     height: 100%;
     background-color: #fff;
     display: inline-block;
     text-align: center;
     line-height: 40px;
     cursor: pointer;
 }
 
 .select-options-icon {
     display: inline-block;
     background: url(../images/hiden.png) no-repeat;
     width: 9px;
     height: 8px;
     margin-left: 7px;
     cursor: pointer;
 }
 
 .search-wrap input {
     height: 40px;
     width: 230px;
     padding: 0px 10px;
 }
 
 .search-btn {
     display: inline-block;
     height: 40px;
     width: 65px;
     background: #4288fa;
     cursor: pointer;
     text-align: center;
     line-height: 40px;
     color: #fff;
 }
 
 .search-btn:hover {
     background: #68a0fb;
 }
 
 ul.select-options {
     display: none;
     z-index: 999;
     background: #fff;
     border: 1px solid #ededed;
     margin-top: 5px;
     position: relative;
 }
 
 ul.select-options li {
     cursor: pointer;
     color: #1d1d1d;
     height: 27px;
     line-height: 27px;
     padding: 0 10px;
 }
 
 ul.select-options li:hover {
     background: #ddeafe;
 }
 /*公用右侧下拉框及搜索框样式 结束*/
 /*滚动条样式*/
 
 .tree-wrap::-webkit-scrollbar,
 .info-wrap::-webkit-scrollbar,
 .search-result-wrap::-webkit-scrollbar {
     width: 8px;
     background-color: #d6d6d6;
 }
 
 .tree-wrap::-webkit-scrollbar-button,
 .info-wrap::-webkit-scrollbar-button,
 .search-result-wrap::-webkit-scrollbar-button {
     height: 5px;
     background-color: #fff;
 }
 
 .tree-wrap::-webkit-scrollbar-thumb,
 .info-wrap::-webkit-scrollbar-thumb,
 .search-result-wrap::-webkit-scrollbar-thumb {
     background: #d6d6d6;
     border-radius: 5px;
 }
 
 .tree-wrap::-webkit-scrollbar-track,
 .info-wrap::-webkit-scrollbar-track,
 .search-result-wrap::-webkit-scrollbar-track {
     background: #fff;
     width: 8px;
 }
 
 .info-item .table-wrap::-webkit-scrollbar {
     height: 8px;
     background-color: #d6d6d6;
 }
 
 .info-item .table-wrap::-webkit-scrollbar-button {
     background-color: #fff;
 }
 
 .info-item .table-wrap::-webkit-scrollbar-thumb {
     background: #d6d6d6;
     border-radius: 3px;
 }
 
 .info-item .table-wrap::-webkit-scrollbar-track {
     background: #fff;
 }
 
 .tree-wrap,
 .info-wrap,
 .search-result-wrap,
 .info-item .table-wrap {
     scrollbar-base-color: #d6d6d6;
     scrollbar-arrow-color: #fff;
     scrollbar-3dlight-color: #d6d6d6;
     scrollbar-track-color: #fff;
 }
 
 .loading {
     text-align: center;
     font-size: 15px;
     padding: 150px 0px;
 }