{
    "presets": [
        "stage-2", ["env", {
            "targets": {
                "browsers": ["ie>=9"]
            }
        }]
    ],
    "plugins": ["babel-plugin-transform-runtime"]
}
//, "transform-es3-property-literals", "transform-es3-member-expression-literals"