!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="texts" @keyup.enter="add" />
        <ul>
            <li v-for="(data,index) in message" style="list-style: none" is="my-component" v-bind:title="data" @remove=remove(index)>
                <!--v-bind:title="data" 在组件注册时通过 props:['title']可以出去title的值 
                @remove=remove(index) 父组件自定义事件，在子组件中通过$emit进行触发-->
            </li>
        </ul>
    </div>
    <script src='http://cdn.jsdelivr.net/vue/2.0.0/vue.min.js'></script>
    <script type="text/javascript">
        Vue.component('my-component', { //组件定义的标签名在上面 is中使用该组件
            template: '<li>{{title}}<button v-on:click="$emit(\'remove\')">点击删除</button></li>',
            props: ['title']
        });

        var app = new Vue({
            el: '#app',
            data: {
                texts: '',
                message: ['foo', 'bar', 'aaa']
            },
            methods: {
                add: function() {
                    this.message.push(this.texts);
                },
                remove: function(idx) {
                    this.message.splice(idx, 1);
                }
            }
        })
    </script>
</body>

</html>