<html>

<head>
    <meta charset='UTF-8'>
    <title>my vue</title>
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <th>
                    <td>序号</td>
                    <td>作者</td>
                    <td>书名</td>
                    <td>价格</td>
                </th>
            </thead>
            <tbody>
                <tr v-for='book in books'>
                    <td>{{book.id}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.price}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="inp">
        <input type="text" v-model="text"> {{text}}
    </div>
    <div id="my-example01">
        <my-component></my-component>
    </div>
    <div id="my-example02">
        <my-components></my-components>
    </div>

    <div id="dynamic">
        <button id="home" @click="toogleTabs('home')">Home</button>
        <button id="posts">Posts</button>
        <button id="archive">Archive</button>
        <br>
        <component v-bind:is="currentView"></component>
    </div>

    <ul id="your-example">
        <li is="your-component"></li>
    </ul>
    <script src='http://cdn.jsdelivr.net/vue/2.0.0/vue.min.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                book: {
                    id: 0,
                    author: '',
                    name: '',
                    price: ''
                },
                books: [{
                    id: 1,
                    author: '曹雪芹',
                    name: '红楼梦',
                    price: 32.0
                }, {
                    id: 2,
                    author: '施耐庵',
                    name: '水浒传',
                    price: 30.0
                }, {
                    id: '3',
                    author: '罗贯中',
                    name: '三国演义',
                    price: 24.0
                }, {
                    id: 4,
                    author: '吴承恩',
                    name: '西游记',
                    price: 20.0
                }]
            }
        });

        var inp = new Vue({
            el: '#inp',
            data: {
                text: 'hello!'
            }
        });

        //组件使用--------------------------------------------------

        //组件使用01
        // 定义
        var MyComponent = Vue.extend({
            template: '<div>A custom component!</div>'
        });
        // 注册
        Vue.component('my-component', MyComponent);
        // 创建根实例
        new Vue({
            el: '#my-example01'
        });

        //组件使用02
        Vue.component('my-components', {
            template: '<div>A  components!</div>'
        });
        // 创建根实例
        new Vue({
            el: '#my-example02'
        })



        //动态组件使用
        var vueapp = new Vue({
            el: "#dynamic",
            data: {
                currentView: "home"
            },
            components: {
                home: {
                    template: "<div>Home</div>"
                },
                posts: {
                    template: "<div>Posts</div>"
                },
                archive: {
                    template: "<div>Archive</div>"
                }
            },
            methods: {
                toogleTabs: function(val) {
                    this.currentView = val;
                }
            }
        });

        document.getElementById("posts").onclick = function() {
            vueapp.currentView = "posts";
        };
        document.getElementById("archive").onclick = function() {
            vueapp.currentView = "archive";
        };



        //is 组件
        Vue.component('your-component', {
            template: '<li><a>your-component</a><li>'
        })
        new Vue({
            el: '#your-example'
        })
    </script>
</body>

</html>